@model DDLtoDDL.Models.CascadeProducts
@{
    ViewBag.Title = "Index";
}

<body>
    @using (Html.BeginForm("Index", "Prod", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.ProductCategoryID, Model.Categories, "Please select", new { onchange = "document.forms[0].submit();" })
        <br />
        <br />
        @Html.DropDownListFor(m => m.ProductSubCategoryID, Model.SubCategories, "Please select", new { onchange = "document.forms[0].submit();" , disabled ="disabled"})
        <br />
        <br />
        @Html.DropDownListFor(m => m.ProductID, Model.Products, "Please select", new { disabled="disabled"})
        <br />
        <br />
        <input type="submit" value="submit"/>
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type ="text/javascript">
        $(function () {
            if ($("#SubCategoryId option").length > 1) {
                $("#SubCategoryId").removeAttr("disabled");
            }
            if ($("#ProductId option").length > 1) {
                $("#ProductId").removeAttr("disabled");
            }
            if ($("#CategoryID").Val() != "" && ("#SubCategoryId").Val() != "" && ("#ProductId").Val())
             var message = "Category : " + $("#CategoryID option:Selected").text();
            message += "\nSubCategory : " + $("#SubCategoryID option:Selected").text();
            message += "\nProduct : " + $("#ProductID option:Selected").text();
            alert(message);

        });
        </script>
</body>
